SamuraiApp.Test/Connected Services/BattleServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SamuraiApp.Service" />
  <xs:element name="GetAllBattles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBattlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SamuraiApp.Service" minOccurs="0" name="GetAllBattlesResult" nillable="true" type="q1:ArrayOfBattleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SamuraiApp.Service" minOccurs="0" name="GetBattleByIdResult" nillable="true" type="q2:BattleData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateStarted" type="xs:dateTime" />
        <xs:element minOccurs="0" name="town" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBattleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSamuraisInBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSamuraisInBattleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SamuraiApp.Service" minOccurs="0" name="GetSamuraisInBattleResult" nillable="true" type="q3:ArrayOfSamuraiData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSamuraiToBattle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="samuraiId" type="xs:int" />
        <xs:element minOccurs="0" name="battleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSamuraiToBattleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>